@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #285430;
  --background-start-rgb: #ced0d1;
  --background-end-rgb: #ced0d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to bottom right, var(--background-start-rgb), var(--background-end-rgb));
}
